.container {
    background-color: rgb(173, 7, 160);
    display: grid;
    place-items: center;
    padding: 24px;
    margin-bottom: 14px;
    justify-content: center;
    width: fit-content;
    border-radius: 10px;
    grid-template: 1fr / 100vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -5%);
}